h1 {
  text-align: center;
}
.row {
  background-color: #f2f2f2;
  color: #f0efe3;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
.instructions{
  background-color: #f0e7e3;
  height: fit-content;
  border: 2px solid black;
  padding: 20px;
}
.facts{
  text-align: center;
  background-color: #f0e7e3;
  height: fit-content;
  border: 2px solid black;
  padding: 20px;
}

.yellowish-title {
  color: #e4ca99
}
.submit-btn
{
  font-family: "Arial";
  font-size: 30px;
}

#game-canvas {
  margin-right: 180px;
  border: 1px solid grey;
}

body {
  background-color: #2d3436;
}
.container {
    background-color: #2d3436;
    width: 80%;
    margin: 0 auto;
    float: left;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
main {
  position: relative;
  width: 780px;
}
aside {
  width: 16em;
}

#canvas-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#canvas-overlay .ballot {
  position: absolute;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  background: rgba(0, 0, 0, 0.0);
}


.ballot {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 90px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ballot-img {
  height: 50px;
  width: 50px;
  pointer-events: none;
}

.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.white_content {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  border: 16px solid orange;
  background-color: white;
  z-index: 1002;
  overflow: auto;
}
#submit-btn {
  animation: wiggle 2s;
  background-color: #b6cdc8; /* Green */
  margin: 30px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-family: "TimesNewRoman";
}

.stars {
  font-size:400%;
  color:black;
  font-family: Garamond, Times
} 

#drag-thumbnail {
  position: absolute;
  top: -100vh;
  left: -100vw;
}

#level-indicator {
  text-align: center;
  font-size: 200%;
  color: #a4c9d7;
  font-family: Georgia;
}