@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
  font-family: 'Rajdhani', cursive;
}
button {
  font-family: 'Rajdhani', cursive;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  text-align: center;
  color: white;
}
#header-button
{
  background-color: rgba(0,0,0,0.0);
  color: white;
  height: fit-content;
  width: fit-content;
  margin-top: -4px;
  margin-bottom: -4px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 55px;
}
h3 {
  text-align: center;
}
.row {
  background-color: #f2f2f2;
  color: #f0efe3;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
.instructions{
  background-color: #f0e7e3;
  color: black;
  font-size: 25px;
  height: fit-content;
  border: 2px solid black;
  padding: 30px;
  text-align: center;
}
.facts{
  text-align: center;
  background-color: #f0e7e3;
  color: black;
  font-size: 25px;
  height: fit-content;
  border: 2px solid black;
  padding: 30px;
}

.yellowish-title {
  color: #967E76;
  font-size: 40px;
}

#end-message {
  display: none;
  flex-direction: column;
  align-items: center;
  color: #a4C9D7;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 150%;
}

#end-text {
  text-align: center;
}
#scoring {
  text-align: center;
}


#background {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 600px;
  width: 600px;
  background-image: url("background.png");
  background-size: cover;
  opacity: 88%;
  display: none;
}
#game-canvas {
  margin-bottom: 200px;
  
  box-shadow: 0 0 4px white;
}

body {
  background-color: #2d3436;
}
.container {
    background-color: #2d3436;
    width: 80%;
    margin: 0 auto;
    float: left;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

main {
  position: relative;
  width: 600px;
  height: 800px;
}
aside {
  min-width: 16em;
  width: 20%;
  max-width: 48em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#canvas-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#canvas-wrapper {
  position: relative;
}
#canvas-overlay .ballot {
  position: absolute;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  background: rgba(0, 0, 0, 0.0);
}


.ballot {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 90px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ballot-img {
  height: 50px;
  width: 50px;
  pointer-events: none;
}

.black_overlay {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  -moz-opacity: 0.8;
}
#light {
  padding: 16px;
  border: 16px solid #FFD9C0;
  background-color: #FBF8F1;
  z-index: 1002;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submit-btn {
  animation: wiggle 20s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color: #f0e7e3;
  color: #967E76;
  height: fit-content;
  width: fit-content;
  margin-top: 30px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  
}
#next-level-button {
/*   width: 400px; */
/*   animation: wiggle 20s;
  animation-duration: 2s;
  animation-iteration-count: infinite; */
 background-color: #f0e7e3;
  color: #967E76
  height: fit-content;
  width: fit-content;
  margin: 30px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}
@keyframes wiggle
{
  0% {transform: translate(1px, 1px) rotate(0deg);}
  20% {transform: translate(-1px, 1px) rotate(1deg);}
  40% {transform: translate(-1px, 2px) rotate(-1deg);}
  60% {transform: translate(-3px, 1px) rotate(0deg);}
  70% {transform: translate(3px, 1px) rotate(-1deg);}
  80% {transform: translate(-1px, -1px) rotate(1deg);}
  90% {transform: translate(1px, 2px) rotate(0deg);}
  100% {transform: translate(1px, -2px) rotate(1deg);}
  
}
.stars {
  font-size:300%;
  color:black;
  text-align: center;
} 

/* #next-level-button {
  font-size: 200%;
  padding: 2em;
} */

#drag-thumbnail {
  position: absolute;
  top: -100vh;
  left: -100vw;
}

#level-indicator {
  flex: 1;
  text-align: center;
  font-size: 200%;
  color: #a4c9d7;
}

#level-indicator-box {
  display: flex;
  width: 600px;
}

#loading-indicator {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}